<!-- <head><script>

$('.carousel').carousel()

</script>

</head> -->
<body>
<div class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">

        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>

<!-- Remeber to put all the content you want on top of the slider below the slider code -->

<div class="title">
  <div class="description">
    <p>

  <center><h1>SteamFriend.Me</h1>
<h3>A Gaming Based Social Networking Service<h3>
  <img src="http://www.userlogos.org/files/logos/Diamond00744/steam_3.png">
<h4>Ever buy a game and have no one to play with? <h4>
</p>
<p id="greating">
Steamfriend.me matches users to potential friends, 1-on-1, with people that play similar games using user data drawn directly from Steam. Virtually instantly, within seconds you'll have an active gamer that is down to play the game you want to play. </p>
</center>


        <div id="avatar">

    <% if current_user %>
    <%= image_tag session[:current_user]["image"] %>
      <br>Welcome <%= current_user.name %> !<br>

    <% end %>
          </div>
  </div>
  </div>
</div>
</body>
