<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Found a Match</title>
  </head>
  <body>
        <div class="match"><center>
        <br>  <%= image_tag session[:current_user]["image"] %>
    <br><%= current_user.nickname %> is your match ! </th>

    </center>
    </div>
  </body>
</html>
