// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .field .stars input{
//   // display: none;
//   margin:0;padding:0;
//   -webkit-appearance:none;
//   -moz-appearance:none;
//   appearance:none;
// }

#ratings{
  display: inline-flex;
  list-style: none;
}

#ratings li{
}

.thumb{
  height: 20%;
  width: 20%;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

#stars input[type="radio"]{
  display: none;
}
// input type="radio"{
//
// }

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}
